#continentContainer {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 0;
    border-right: 0;
}

.continent {
    margin-top: 10px;
    padding-left: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
}

section aside.title-breadcrumb,
section h3.grid_item-heading {
    color: #0B6623;
}

section:hover aside.title-breadcrumb,
section:hover h3.grid_item-heading {
    color: #D2E3D7;
}

div.landmark_wrap svg {
    stroke: #0B6623;
}

.land {
    fill: none;
    stroke-opacity: 1;
    stroke-width: 2.5;
}

section:hover div.landmark_wrap svg {
    stroke: #D2E3D7;
}

#cities .grid_item {
    opacity: 0;
}

.tile__city {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tile__city {
    transition: background-color .3s;
}

.tile {
    position: relative;
}

.grid-item {
    border-right: 1px solid;
    border-bottom: 1px solid;
    min-height: 30vh;
    text-align: center;
}

#citiesContainer {
    position: relative;
}

.tile__city__inner-wrap {
    width: 100%;
}

.fil0 {
    fill: #0B6623;
    fill-rule: nonzero
}

.fil0:hover {
    fill: #D2E3D7;
    fill-rule: nonzero
}